networks:
  backend:
    driver: bridge
    
volumes:
  pgdata:
    driver: local
  cache:
    driver: local
    
services:
  web:
    image: ghcr.io/acowa-dk/hive-access:latest
    container_name: django
    command: gunicorn access.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "8082:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/app/staticfiles:ro
    depends_on:
      - web
    networks:
      - backend

  hive:
    image: ghcr.io/acowa-dk/hive:latest
    container_name: hive
    ports:
      - "8081:8081"
    volumes:
      - ./app_global_configs.ini:/app/app_global_configs.ini
      - ./app_global_configs_custom.ini:/app/app_global_configs_custom.ini
    depends_on:
      - db
    environment:
      CONFIG_FILES: "/app/app_global_configs.ini,/app/app_global_configs_custom.ini"
    networks:
      - backend

  db:
    image: postgres:16
    shm_size: "1gb"
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_INTERNAL_PORT}"  # custom port externally
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  cache:
    image: redis:8.4.0
    env_file:
      - .env
    networks:
      - backend
      
  grafana:
    image: ghcr.io/acowa-dk/grafana:latest
    container_name: grafana-image
    ports:
      - "${GRAFANA_PORT}:3000" # custom external port
    env_file:
      - .env
    environment:
      POSTGRES_URL: ${POSTGRES_CONTAINER}:${POSTGRES_INTERNAL_PORT}
    networks:
      - backend
      

